@model PuzzlePieceASD.WebUI.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="col-md-5">
    <table>
        <tr>
            <td>Username:</td>
            <td><input id="UserName" type="text" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input id="Password" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            @Html.ActionLink("Login", "CheckPassword", new { controller = "CheckPassword", UserName = Model.UserName }, new { @class = "btn btn-default", role = "button" })
        </tr>

    </table>
</div>